:host {
    width: 1200px;
    max-width: 90vw;
    background-color: white;
    overflow: auto;

    .aspects {
        display: flex;

        .graphic {
            flex: 0 0 350px;
            width: 350px;
            height: 315px;
            margin: 10px 40px;
            background: url(../../../../assets/images/architecture-external-services.svg) center top;
            background-repeat: round;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;

            .graphic {
                flex: 0 0 315px;
            }
        }
    }

    @media screen and (max-width: 576px) {
        max-width: 100%;
    }
}