<div class="shadow-lg">
  <div class="modal-body">
    <h4 class="text-primary">{{ error.titleKey | translate }}</h4>
    <p>{{ 'error.general.invalidResource' | translate }} {{'error.general.errorSource' | translate}}</p>
    <p class="bold">{{errorMessage}}</p>
    <p class="bold">{{ 'error.general.requestedUrl' | translate }}: <a href="{{error.url}}"
        target="_blank">{{error.url}}</a></p>
    <p>{{ 'error.general.weWillContactProvider' | translate }}</p>
    <p>{{ 'error.general.technicalSupport' | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light"
      (click)="createTicket()">{{ 'error.general.technicalSupportCreateTicket' | translate }}
    </button>
    <button type="button" class="btn btn-light"
      (click)="overlayRef.dispose()">{{ 'error.general.closeButton' | translate }}
    </button>
  </div>
</div>
