<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health.data.eu</title>
  <!-- Import Favicon -->
  <link rel="shortcut icon" type="image/ico" href="<%= BASE_PATH %>static/favicon.ico">
  <!-- Import Loading Animation -->
  <link rel="preload" href="<%= BASE_PATH %>static/preload-styles/loading-animation.css" as="style">
  <link rel="preload" href="<%= BASE_PATH %>static/fonts/material-icons.css" as="style">
  <link rel="stylesheet" href="<%= BASE_PATH %>static/preload-styles/loading-animation.css">
  <link rel="stylesheet" href="<%= BASE_PATH %>static/fonts/material-icons.css">
  <!-- Preconnect to establish early connections -->
  <link rel="preconnect" href="https://api.tiles.mapbox.com">
  <link rel="stylesheet" href="/node_modules/vue-multiselect/dist/vue-multiselect.min.css">

</head>
<body>
<div id="app">
  <app>
    <div class="spinner-container" id="good">
      <div class="spinner"> </div>
    </div> 
  </app>
</div>
</body>
</html>
