<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="<%= BASE_PATH %>static/favicon.ico" />
    <link rel="stylesheet" href="<%= BASE_PATH %>static/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="<%= BASE_PATH %>static/fonts/material-icons.css">

  </head>
  <body>
    <div id="app"></div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        ECL.autoInit();
      });
    </script><script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v3.4.1/ec/scripts/ecl-ec.js" crossorigin="anonymous"></script 
     script src="<%= BASE_PATH %>static/js/moment.min.js"
            referrerpolicy="no-referrer"></script 
    <script src="<%= BASE_PATH %>static/js/ecl-ec.js" ></script>
  </body>
</html>
