.footer {
    font-family: sans-serif;
    font-size: 11pt;
    background-color: black;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

a.footer-link:link {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

a.footer-link:visited {
    color: white;
    text-decoration: underline;
}

a.footer-link:hover {
    color: white;
    text-decoration: underline;
}
