<ul>
  <li> <a routerLink="">Empty</a> </li>
  <li> <a [routerLink]="['/']" [queryParams]="{dataset: '12345678-1234-1234-1234-123456789012'}">wrong dataset id</a> </li>
  <li> <a [routerLink]="['/']" [queryParams]="{dataset: '124f8cb6-3d36-434a-a1a3-7022e380a7a6'}">GeoJSON (FeatureCollection: Multipolygons)</a> </li>
  <li> <a [routerLink]="['/']" [queryParams]="{dataset: 'd7fddbd0-3888-4d2c-9739-33a9e838d315'}">GeoJSON (FeatureCollection: Points)</a> </li>
  <li> <a [routerLink]="['/']" [queryParams]="{dataset: '2e91f005-29f9-4c57-8754-7e265004f37f'}">GeoJSON (FeatureCollection: Multiline)</a> </li>
  <li> <a [routerLink]="['/']" [queryParams]="{dataset: 'ed90f598-0d2b-4c5a-a7ff-7e6b38e885cb'}">GeoJSON (FeatureCollection: Multipolygons)</a> </li>
  <li> <a [routerLink]="['/']" [queryParams]="{dataset: '51c90fd8-924a-4e4d-b707-b6646128a729'}">WMS</a> </li>
  <li> <a [routerLink]="['/']" [queryParams]="{dataset: 'ec269437-04b6-462f-ac41-7ef407266eb9'}">Fiware</a> </li>
</ul>
